body { background: #e2b923; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 36px; display: flex; }
.block-cart-0 { color: #6ab09; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #90dd7f; font-size: 17px; margin-bottom: 5px; }
.block-config-2 { color: #153712; font-size: 14px; margin-bottom: 5px; }
.block-metrics-3 { color: #52330b; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #49f988; font-size: 18px; margin-bottom: 5px; }